body {
    background-image: url(images/O.R.R.A-topo-map-blk.png);
    margin: 0;
    background-color: #000000;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  };

  /* .card-img {
    opacity: 0.5;
  } */
  

  .navbar-brand {
    color: aliceblue;
  }

  .navbar-toggler {
    color: aliceblue;
  }